misc/SFOAF.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 sp1 (x64) (http://www.altova.com) by E.F. Gramsbergen (TU Delft, Bibliotheek/Library) -->
<!--W3C Schema generated by XMLSpy v2011 rel. 2 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns="http://www.tudelft.nl/ns/repo3/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tudelft.nl/ns/repo3/">
	<xs:element name="work" type="xs:string"/>
	<xs:element name="place" type="xs:string"/>
	<xs:element name="person">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="altName" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="birth"/>
				<xs:element ref="death"/>
				<xs:element ref="education" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="work" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="link" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="memberOf" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="concept" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="description" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="organization">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="altName" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="location" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="concept" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="description" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="memberOf">
		<xs:complexType>
			<xs:attribute name="group" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="link" type="xs:string"/>
	<xs:element name="education" type="xs:string"/>
	<xs:element name="location" type="xs:string"/>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="death">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="date" minOccurs="0"/>
				<xs:element ref="place" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="date" type="xs:string"/>
	<xs:element name="concept" type="xs:string"/>
	<xs:element name="birth">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="date" minOccurs="0"/>
				<xs:element ref="place" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="altName" type="xs:string"/>
</xs:schema>
